* {
    font-family: sans-serif;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sarlavha {
    width: 40%;
    gap: 43px;
}

.sarlavha>button {
    display: flex;
    align-items: center;
    border: none;
    width: Hug (224px)px;
    height: Hug (56px)px;
    padding: 16px 32px 16px 32px;
    gap: 16px;
    border-radius: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 0px #00000012;

    box-shadow: 0px 34px 75px 0px #00000012;

    box-shadow: 0px 137px 137px 0px #0000000F;

    box-shadow: 0px 308px 185px 0px #0000000A;

    box-shadow: 0px 548px 219px 0px #00000003;

    box-shadow: 0px 856px 240px 0px #00000000;

}

.sarlavha>h1 {
    color: #000000;
    font-size: 69px;
    font-weight: 700;
    line-height: 82.8px;
    color: #000000;

}

.sarlavha>h1>span {
    color: #F85E9F;
}

.sarlavha>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #19182580;
}

.btns {
    display: flex;
    align-items: center;
}

.btns>button:first-child {
    width: Hug (141px)px;
    height: Hug (49px)px;
    padding: 16px 32px 16px 32px;
    gap: 8px;
    border-radius: 100px;
    border: none;
    background: #5D50C6;
    box-shadow: 0px 0px 0px 0px #0000001A;

    box-shadow: 0px 5px 11px 0px #0000001A;

    box-shadow: 0px 20px 20px 0px #00000017;

    box-shadow: 0px 45px 27px 0px #0000000D;

    box-shadow: 0px 81px 32px 0px #00000003;

    box-shadow: 0px 126px 35px 0px #00000000;
    color: #EEEEEE;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
}

.btns>button:last-child {
    width: Hug (181px)px;
    height: Hug (56px)px;
    padding: 16px 32px 16px 32px;
    gap: 8px;
    border-radius: 100px;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    font-size: 14px;
    font-weight: 700;
    color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    position: relative;
    width: 55%;
}

.img>img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.img_2 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 20px 20px 20px;
    z-index: 4;
    margin: 0 auto;
}

.img_2-m {
    max-width: max-content;
    width: 300px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column-reverse;
        display: flex;
        justify-content: none;
        gap: 0px;
    }

    .img_2-m {
        width: 150px;
    }

    .img_2-m img {
        width: 139px;
    }

    .img_2 img {
        width: 139px;
    }

    .img_2 {
        width: 80%;
        padding: 20px 10px 10px 10px;
    }

    .img {
        width: 100%;
    }

    .sarlavha {
        text-align: center;
        width: 100%;
    }

    .btns {
        display: block;
        width: 100%;
    }

    .btns>button {
        width: 95%;
    }

    .sarlavha>button {
        margin: 0 auto;
    }
}

.deg {
    margin-left: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 40px;
    height: 40px;
}

.pen {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.father {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
}

.nav-main>div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 98%;
}

.section2 {
    padding: 80px 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .section2>img {
        width: 160px;
    }

    .nav-main {
        width: 98%;

    }

    .nav-main>div {
        width: 98%;
    }

    .father>a {
        display: none;
    }
}



.section4 {
    padding: 30px 50px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px 50px; */

}

.round1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: #000;
    border: .5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.round2 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: #fff;
    border: .5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: blueviolet;
    margin-left: 10px;
}

.text1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #F85E9F;
}

.text2 {
    font-size: 20px;
}

.rounds {
    display: flex;
}

.images {
    display: flex;
    justify-content: space-between;

}

.aside-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sarlavha2>h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: #F85E9F;
    text-transform: uppercase;
}

.sarlavha2>h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    color: #191825;
}

.sarlavha2>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #19182580;
}

.sarlavha2>.frame-max>.frame-min {
    display: flex;
    gap: 32px;
}

.frame-min>.frame {
    width: 204.5px;
    height: 151px;
    padding: 32px;
    gap: 16px;
    border-radius: 32px;
    border: 2px solid #1918251A;
    margin-top: 32px;
}

.frame>h2 {
    font-size: 35px;
    font-weight: 700;
    color: #FF5722;
    text-align: center;
}

.frame>p {
    font-size: 18px;
    font-weight: 400;
    color: #191825;
    text-align: center;
}
@media (max-width: 768px) {
    .aside-1{
        width: 100%;
        display: block;
    }
    .aside-1 > .image{
        width: 100%;
    }
    .image > img{
        width: 100%;
    }
    .sarlavha2{
        text-align: center;
    }
    .sarlavha2>.frame-max>.frame-min{
        display: block;
        width: 100%;
    }
    .frame-min>.frame{
        width: 100%;
    }
}