*{
    font-family: sans-serif;
}
.section2{
    padding: 80px 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


@media (max-width: 768px){
    img{
        width: 160px;
    }
    
}



.section4{
    padding: 30px 50px;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px 50px; */
    
}
.round1{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: #000;
    border: .5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.round2{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: #fff;
    border: .5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: blueviolet;
    margin-left: 10px;
}
.text1{
    font-size: 25px;
    text-transform: uppercase;
    color: #F85E9F;
}
.text2{
    font-size: 20px;
}
.rounds{
    display: flex;
}
.images{
    display: flex;
    justify-content: space-between;
    
}
